#hover:hover{
	background-color: #f8f9fa;
	color: black;
}
#hover2:hover{
	background-color: #f8f9fa;
	color: #0d6efd;
}
canvas{
	animation-name: name;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}
@keyframes name{
	from, to { box-shadow: 0 0 40px 0 red }
	16% { box-shadow: 0 0 40px 0  yellow }
	32% { box-shadow: 0 0 40px 0  green }
	48% { box-shadow: 0 0 40px 0  aqua }
	64% { box-shadow: 0 0 40px 0  blue }
	80% { box-shadow: 0 0 40px 0  fuchsia }
}